<div class="row">
  <div class="col-lg-12">

    <nb-card>
      <nb-card-header>የተሽከርካሪው መረጃ</nb-card-header>
      <nb-card-body>
        <nb-card-header>የተሽከርካሪው የአገልግሎት ዘመን</nb-card-header>
         <nb-select  selected="1">
          <nb-option  *ngFor="let age of vehicleAge" [value]="age.enumId">{{age.description}}</nb-option>
          </nb-select>

          <nb-card-header>የተሽከርካሪ ጉድለት</nb-card-header>

          <nb-card-body>
            <nb-select  selected="1">
              <nb-option  *ngFor="let deficiency of vehicleRelatedDeficiency" [value]="deficiency.enumId">{{deficiency.description}}</nb-option>
            </nb-select>
          </nb-card-body>

        <nb-card>
          <nb-card-header>አደጋ የፈጸሙ ተሽርከሪዎች ዐይነት</nb-card-header>
          <nb-card-body>
            <nb-select  fullWidth>
              <nb-option  *ngFor="let type of vehicleType" [value]="type.enumId">{{type.description}}</nb-option>
            </nb-select>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>አደጋ የፈጸሙ ተሽርከሪዎች ንብረትነት</nb-card-header>
          <nb-card-body>

            <nb-select fullWidth >
              <nb-option  *ngFor="let Owner of vehicleOwnership" [value]="Owner.enumId">{{Owner.description}}</nb-option>
            </nb-select>
          </nb-card-body>

        </nb-card>
        <nb-card>
        <nb-card-header>አደጋ ፈጻሚ ተሽርከሪ እንቅስቃሴ</nb-card-header>
        <nb-card-body>

          <nb-select fullWidth >
            <nb-option  *ngFor="let Maneuver of vehicleManeuver" [value]="Maneuver.enumId">{{Maneuver.description}}</nb-option>
          </nb-select>
        </nb-card-body>
        </nb-card>

        <button class="btn btn primary"  style="margin-right: 90%; background: cornflowerblue;">ወደኋላ ተመለስ</button>
        <button class="btn btn primary"  style="margin-left: 90%; background: cornflowerblue;">ምምምም</button>

