<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>የተጎጂ ስም</nb-card-header>
      <nb-card-body>
        <input type="text"  nbInput fullWidth>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>የተጎጂ እድሜ</nb-card-header>
      <nb-card-body>
         <!-- <input type="text" nbInput fullWidth placeholder="Project"> -->
        <input  type="number" nbInput fullWidth>
        <nb-card-header>የተጎጂ ዖታ</nb-card-header>
          <nb-card-body>

            <nb-select >
              <nb-option value="MALE">ወንድ</nb-option>
              <nb-option value="FEMALE">ሴት</nb-option>
            </nb-select>
          </nb-card-body>
          <nb-card>
          <nb-card-header>የተጎጂ እንቅስቃሳ</nb-card-header>
          <nb-card-body>

            <nb-select fullWidth >

              <nb-option *ngFor="let Maneuver of victimManeuver" [value]="Maneuver.enumId">{{Maneuver.description}}</nb-option>
            </nb-select>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>ጉዳት የደረሰበት ተጎጂ መግለጫ</nb-card-header>
          <nb-card-body>
            <nb-card-header>የተጎጂ ስራ</nb-card-header>
            <nb-select >
              <nb-option *ngFor="let profession of victimProfession" [value]="profession.enumId">{{profession.description}}</nb-option>
            </nb-select>

            <nb-card-header>የተጎጂ አካል ጤንነት</nb-card-header>
            <nb-select >
              <nb-option *ngFor="let Health of victimHealth" [value]="Health.enumId">{{Health.description}}</nb-option>

            </nb-select>

          </nb-card-body>

        </nb-card>

        <button class="btn btn primary"  style="margin-right: 90%; background: cornflowerblue;">ወደኋላ ተመለስ</button>
        <button class="btn btn primary"  style="margin-left: 90%; background: cornflowerblue;">mmmmm</button>

