<nb-card>
  <nb-card-body>
    <input type="text" nbInput fullWidth placeholder="Disabled input" disabled/>
    <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Text Area"></textarea>
    <input type="text" nbInput fullWidth fieldSize="small"  placeholder="Small Input">
    <input type="text" nbInput fullWidth fieldSize="medium"  placeholder="Medium Input">
    <input type="text" nbInput fullWidth fieldSize="large"  placeholder="Large Input">
    <button class="btn btn primary" (click)="previouspage()" style="margin-right: 90%; background: cornflowerblue;">ወደኋላ ተመለስ</button>

  </nb-card-body>


</nb-card>
