<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>የአሽከርካሪዎች ብዛት</nb-card-header>
      <nb-card-body>
        <input type="number" [(ngModel)]="noofdriver" [readonly]="write" nbInput fullWidth (change)="changebtname()">
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>የአሽከርካሪው መረጃ</nb-card-header>
      <nb-card-body>
         <!-- <input type="text" nbInput fullWidth placeholder="Project"> -->
        <input [(ngModel)]="driver.driversPlate" type="number" nbInput fullWidth placeholder="የአሽ/ብ/ማ/ፈቃድ ቁ.">
        <nb-card-header>የመንጃ ፍቃድ ደረጃ</nb-card-header>
          <nb-card-body>

            <nb-select [(ngModel)]="driver.driverLicenceLevel" selected="1">
              <nb-option *ngFor="let driverlicense of driverlicenses" [value]="driverlicense.enumId">{{driverlicense.description}}</nb-option>
            </nb-select>
          </nb-card-body>
        <div class="full-name-inputs">
          <input [(ngModel)]="driver.party.partyName" type="text" nbInput fullWidth placeholder="ስም">
        </div>
        <div class="full-name-inputs">
          <input [(ngModel)]="driver.driverAge" type="number" nbInput fullWidth placeholder="ዕድሜ">
        </div>
        <nb-card>
          <nb-card-header>ዖታ</nb-card-header>
          <nb-card-body>

            <nb-select fullWidth [(ngModel)]="driver.driverSex" selected="MALE">
              <nb-option value="MALE">ወንድ</nb-option>
              <nb-option value="FEMALE">ሴት</nb-option>
            </nb-select>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>የመኖሪያ አድራሻ</nb-card-header>
          <nb-card-body>
            <nb-card-header>ዜግነት</nb-card-header>
            <nb-select [(ngModel)]="driver.nationality" selected="Ethiopian">
              <nb-option value="Ethiopian">ኢትዮጵያዊ</nb-option>
              <nb-option value="Other">ሌላ</nb-option>
            </nb-select>

            <nb-card-header>ክ/ከተማ</nb-card-header>
            <nb-select [(ngModel)]="driver.party.subcity">
              <nb-option *ngFor="let subcity of subcitys" [value]="subcity.enumId">{{subcity.description}}</nb-option>

            </nb-select>

          </nb-card-body>

        </nb-card>
        <nb-card>
          <nb-card-header>ባለቤትነት</nb-card-header>
          <nb-card-body>
            <nb-card-header>የአሽከርካሪ ሚና</nb-card-header>
            <nb-select [(ngModel)]="driver.driverVehicleRelationship">
              <nb-option *ngFor="let driverrelation of driverrelations" [value]="driverrelation.enumId">{{driverrelation.description}}</nb-option>
            </nb-select>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-body>
            <nb-card-header>የአሽከርካሪ ተሞክሮ</nb-card-header>
            <nb-select [(ngModel)]="driver.driverSDrivigExperience">
              <nb-option  *ngFor="let driverxp of driverxps" [value]="driverxp.enumId">{{driverxp.description}}</nb-option>
            </nb-select>
          </nb-card-body>
        </nb-card>
        <nb-card>
        <nb-card-body>
            <nb-card-header>የአሽከርካሪ ትምህርት ደረጃ</nb-card-header>
            <nb-select [(ngModel)]="driver.driverEducationLevel">
              <nb-option  *ngFor="let drivered of drivereds" [value]="drivered.enumId">{{drivered.description}}</nb-option>
            </nb-select>
          </nb-card-body>
        </nb-card>
        <button class="btn btn primary" (click)="previouspage()" style="margin-right: 90%; background: cornflowerblue;">ወደኋላ ተመለስ</button>
        <button class="btn btn primary" (click)="nextpage()" style="margin-left: 90%; background: cornflowerblue;">{{btnname}}</button>


       <!-- <input type="text" nbInput fullWidth placeholder="Disabled input" disabled/>
        <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Text Area"></textarea>
        <input type="text" nbInput fullWidth fieldSize="small"  placeholder="Small Input">
        <input type="text" nbInput fullWidth fieldSize="medium"  placeholder="Medium Input">
        <input type="text" nbInput fullWidth fieldSize="large"  placeholder="Large Input"> -->
